.jStart{
    display: flex;
    margin: 40px 20px;
    background-color: #FFF;
    border-radius: 20px;
    padding: 50px 20px ;
    gap: 60px;
    
}

.jStart h1{
    color: #A9A9A9;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 20px
}

.formcard div input{
    width: 700px;
    height: 40px;
    
}

.formcard div select{
    width: 500px;
    height: 40px;
}

.formcard input{
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
}

.formcard div p{
    color: #B7B7B7;
    font-size: 20px;
    font-weight: 600;
}

.formcard span input{
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    color: #FFF;
    cursor: pointer;
    background-color: #1C6DD0;
}

.formcard span input:hover{
    background-color: #227C70;
}

.formcard button{
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    color: #FFF;
    cursor: pointer;
    background-color: #227C70;
    float: right;
   
}

.formcard button:hover{
    background-color: #1C6DD0;
}

button{
    padding: 5px;
    width: 50px;
    border: none;
    background-color: #39A7FF;
    border-radius: 20px;
}

button a{
    color: white;
}

.action button:nth-child(1):hover{
border: 1px solid red;
}
.action button:nth-child(2):hover{
    border: 1px solid red;
}
.action button:nth-child(3):hover{
    border: 1px solid red;
}




/* ******************log ******************/


